- var lunrIndex 

header.main-header
  nav.top-nav
    a(href="/" + lang + "/")
      img(id="nav-logo" src="/assets/media/images/logos/clf4d_logo_2020_lungo_exp.png" alt=labels.layout.header.logoAlt)
    .nav-links
      a(href="/" + lang + "/about").aquaunderline!= labels.layout.menu.about
      a( href="/" + lang + "/team").greenunderline!= labels.layout.menu.team
      a(href="/" + lang + "/blog").orangeunderline!= labels.layout.menu.blog
      a(href="/" + lang + "/labs").fuchsiaunderline!= labels.layout.menu.labs
      button(id="cta-button")!= labels.layout.menu.calltoaction
      a(href="/" + (lang=="en" ? "it" : "en") + "/" role="button")
        img(id="nav-lang" role="button" src="/assets/media/images/icons/lang-" + (lang=="en" ? "it" : "en")  + ".png" alt=labels.layout.menu.langIconAlt lang= (lang=="en" ? "it-IT" : "en-GB"))
      .search-container
        input(type="search" id="search-input" placeholder=lang=="en" ? "Search..." : "Cerca..." aria-label="Search")
        ul#searchResults
        button.search-button(aria-label="Toggle search")
          span.fa-solid.fa-magnifying-glass
        script.
              fetch('/assets/json/search-index.json')
                .then(response => {
                  if (!response.ok) {
                    throw new Error('Network response was not ok');
                  }
                  return response.json();
                })
                .then(data => {
                  if (!data) {
                    throw new Error('JSON data is empty or invalid');
                  }
                lunrIndex = lunr.Index.load(data); 
                console.log(lunrIndex);
                function performSearch(query) {
                  const results = lunrIndex.search(query);
                  displayResults(results);
                }

                //- function displayResults(results) {
                //-   const searchResults = document.getElementById('searchResults');
                //-   searchResults.innerHTML = '';
                //-   results.forEach(result => {
                //-     const a = document.createElement('a');
                //-     a.href = result.ref;
                //-     console.log("Aref", result.ref);
                //-     a.textContent = result.ref;
                //-     searchResults.appendChild(a);
                //-   });
                //- }

                //- searchInput.addEventListener('input', function() {
                //-   const query = this.value;
                //-   performSearch(query);
                //- });
              })
              .catch(error => console.error('Error loading search index global:', error));
        
      