doctype html
html(lang="it")
  head 
    meta(charset="UTF-8")
    title!= sitename + " - " + title
    meta(name="description" content= description)
    meta(name="viewport" content="device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/assets/media/images/icons/favicon-cl.svg" type="image/x-icon")
    script.
      console.log(navigator.language)
      if (navigator.language.includes('it')) 
        window.location="/it/"
      else
        window.location="/en/"
  body