- const lang = pageLang
- const labels = localizationObject[lang]
- const descr = pageDescription

doctype html
html(lang=lang)
  head
    meta(charset="UTF-8")
    meta(name="description" content= descr)
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title!= sitename + " - " + pageTitle
    link(rel="shortcut icon" href="/assets/media/images/icons/favicon-cl.svg" type="image/x-icon")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer")
    link(rel="stylesheet" href="/assets/css/main.css" media="screen")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/0.5.12/lunr.min.js")
    script(src="/assets/js/main.js")
  
  body
    block header
      include partials/header.pug
    

    main
      block hero

      block content
    
    block footer
      include partials/footer.pug